/* The chess pieces are actually unicode, so to prevent them from being highlighted... */
/* I got this CSS from stackoverflow... the chess pieces are actually unicode and */
/* the browser 'wanted' to highlight them during drag-and-dropping actions sweep over them. */
/* The 'svg text' css prevents that. */
svg text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#chessboard {
  border-style: solid;
}

/* Paint cells different colors in different situations*/
.influenced {
  fill:#ffe34c;
}
.enpassant {
  fill:#00ffff;
}

.attackable {
  fill:#ffa500;
}
.supported {
  fill:#0000ff;
}
.killed {
 font-size: 200%;
}

#spacer {  
  width:6px;
  height:100%;
  margin-top: 20px;
  margin-bottom: :20px;
}
.forHumans { 

font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
  height:100%;
 }
