svg text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}




.active {
  stroke: #000;
  stroke-width: 2px;
}

 .cssthing {
    fill: rgb(255,255,255);
    stroke: rgb(0,0,200);
 }


 .yay {
    fill: rgb(255,255,255);
    stroke: rgb(200,0,200);
 }


.choice {
  stroke: #000000;
  stroke-width: 20px;
}
